.title {
    font-family: 'Source Pro Code', monospace;
    color:white;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    position: relative;
    font-size: 200%;
    top: 120px;
    font-weight: normal;
}

.puzzle {
    color: white;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 130%;
}